*.log
backup/
log/
tmp/
cgi-bin/
www/cache/
www/arhive_games/
www/includes/backups/
www/browser/
www/PHPMyAdmin/
www/licenses
www/Sqlitemanager/
www/sxd/
www/tools/
www/yandex.js
www/styles/images/Капец_01.bmp
www/styles/images/шаблоны/
www/styles/images/alliance/
www/styles/images/chiter/
www/styles/images/contact.jpg
www/styles/resource/reklama/
www/www.zip
